@use 'global_90';

/*
=============== 
Navbar
===============
*/

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-primary-10);

  &-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  &-links {
    display: none;
  }

  &-btn {
    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    background-color: transparent;
    color: var(--clr-primary-5);
    background-color: transparent;
    cursor: pointer;
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  display: flex;
  transform: translateX(-100%);
  justify-content: center;
  align-items: center;

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: transparent;
  border-color: transparent;
  color: #bb2525;
  cursor: pointer;

  &:hover {
    color: #e66b6b;
  }
}

&-links {
  text-align: center;

   a {
    font-size: 2rem;
    text-transform: capitlize;
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);

    &:hover {
      color: var(--clr-primary-5);
    }
   }
}
}

.show-sidebar {
  transform: translateX(0);

}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-grey-5);
}

.social-icon {
  color: var(--clr-grey-5);
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .nav {
    .nav-links {
      display: flex;
      justify-content: space-around;
      gap: 1.5rem;
      position: absolute;
      right: 3rem;
    }

    .nav-btn {
      display: none;
    }

    li a {
      color: var(--clr-grey-5);
    }
  }
}
  
